extends ../layouts/default

block content
  .container
    != webContent_map['About Us'].content.html
    hr
    != webContent_map['Interested in investing'].content.html
    p
      a.btn.btn-primary(href='/contact?purpose=investment') Talk to us