extends ../layouts/default

include ../mixins/products

block content
  .container
    != webContent_map['Introduction'].content.html
    br
    br
    br
    br
    br
    h3 Our Products
    +list-products