extends ../layouts/default

block content
  .container
    h3 Sales Agent
    a.btn.btn-primary(href='/contact?purpose=agent') Apply
    hr
    h3 Job Offers
    - if (!jobs.length)
      i No job offer is available at the moment.
    - else
      .list-group
        each job in jobs
          .list-group-item
            h4
              a(href='#' + job.slug, data-toggle='collapse' data-target='#' + job.slug)= job.title
            .collapse(id=job.slug)
              b Responsibilities
              != job.responsibilities.html
              b Requirements
              != job.requirements.html
              a.btn.btn-primary(href='/contact?purpose=job&query=' + job._id) Apply