extends ../layouts/default

include ../mixins/products

block content
  - if (!product.detailsTemplateName)
    i #{product.name} has no details available yet.
  - else
    //- http://stackoverflow.com/a/26525724/940030
    //- path starts from project root
    != renderTemplate('templates/views/products/' + product.detailsTemplateName + '.jade', locals)
  br
  br
  br
  .container
    hr
    h3 Other Products
    +list-products(product._id)