extends ../layouts/default

block content
  .container

    .alert.alert-info
      span For additional support, you may 
      a.btn.btn-default(href='/contact?purpose=general') contact us

    h2 FAQ
    ul
      each faq in faqs
        li
          h4
            a.btn.btn-link(data-toggle='collapse' data-target='#' + faq.slug)= faq.question
          .collapse(id=faq.slug)!= faq.answer.html

    h2 Guide
    ul
      each guide in guides
        li
          - if (guide.link)
            a.btn.btn-link(href=guide.link, target='_blank')= guide.name
          - else
            h4
              a.btn.btn-link(data-toggle='collapse' data-target='#' + guide.slug)= guide.name
            .collapse(id=guide.slug)!= guide.content.html