mixin find-us
  h3 Find us directly:
  p Open Business Solutions Client Service Centre<br>18 Howard Road#11-09<br>Singapore 369585
  p Tel: +65 6287 4200<br>Fax: +65 6275 0535<br>Email: enquiries@openbusiness.com.sg

mixin default-email
  b On: 
  span= moment(enquiry.createdAt).format('DD MMM YYYY, h:mm:ss a')
  br
  b Name: 
  span= enquiry.name
  br
  b Email: 
  span= enquiry.email
  br
  b Phone: 
  span= enquiry.phone
  br
  b Website: 
  span= enquiry.website
  br
  b Message: 
  != enquiry.message.html