mixin list-products(exclude)
  - var colSpan = exclude ? '6' : '4'
  .row.product-list
    each product, ix in products
      - if (!product._id.equals(exclude))
        div(class='col-sm-' + colSpan)
          .thumbnail
            a(href='/product/' + product._id)
              img(src='/images/products/' + product.thumbnail.filename, style='height: 120px')
              h4.text-center= (product.label || product.name)
            .caption
              .content!= product.caption.html
              a.btn.btn-primary.btn-block(href='/product/' + product._id) View

mixin interested-btn(product)
  a.btn.btn-success(href='/contact?purpose=product&query=' + product._id) I'm interested