include ../../mixins/products

img(src='/images/products/food-beverages/bg.png', style='width: 100%; height: 300px')
.container(style='margin-top: -50px')
  .row
    .col-sm-10.col-sm-offset-1
      h2.text-white= product.name
      :markdown
        If you are running a restaurant, bar or club, we have developed the right system for you. 
        We deliver business processes that enables you to deal with high staff turn over rate, 
        provide you with visibility throughout your company and daily sales report categorised by menu item 
        and raw materials to enable you to calculate your cost of goods sold.

      hr
      .row
        .col-sm-6
          img(src='/images/products/food-beverages/system.png', style='width: 100%')
        .col-sm-6
          :markdown
            A browser-based solution allows for customizable user interface that enabling you to display 
            the most important functionalities on their POS station. Our POS system not only provides 
            comprehensive analytics but as well as credit card and PayPal payment, RFID card integration, 
            membership management, inventory and purchasing and many more. Our advance POS is available 
            across all platforms that ranges from your tablets, smartphones, laptops and desktops 
            allow for businesses to access the system anytime and anywhere.

          h4.text-right Pricing - $20,000*
          p.text-right
            small *Recommended price for F&B Outlet
          p.text-right
            +interested-btn(product)
      hr
      .row
        .col-md-8
          h2 BROWSER-BASED SOLUTION
          small Get accessed, anywhere and anytime.
          .media
            .media-left
              img(src='/images/products/food-beverages/browser-icon.png')
            .media-body
              :markdown
                The POS terminal requires no additional external software to be installed. 
                Minimal maintenance required and easy to run with our POS terminal.

      .row
        .col-md-6.col-md-offset-6
          h2 COMPREHENSIVE ANALYTICS
          small Improve cooperation between teams.
          .media
            .media-left
              img(src='/images/products/food-beverages/analytics-icon.png')
            .media-body
              :markdown
                Track and analyse your business with our analytics report. 
                Know every detail so that you are able to maximise your profit and loss.

      .row
        .col-md-6
          h2 CUSTOMIZABLE INTERFACE
          small Displays are never meant to be fixed.
          .media
            .media-left
              img(src='/images/products/food-beverages/customize-icon.png')
            .media-body
              :markdown
                Customise the user interface with ease to suit your business with our graphical display builder. 
                Display what you feel is convenient.

      .row
        .col-md-7.col-md-offset-5
          h2 CREDIT CARD & PAYPAL PAYMENT
          small Improve cooperation between teams.
          .media
            .media-left
              img(src='/images/products/food-beverages/card-icon.png')
            .media-body
              :markdown
                Besides credit card payment integration, we also provide PayPal payment integration for your ease of payment.

      .row
        .col-md-6
          h2 RFID CARD INTEGRATION
          small Tap and Go.
          .media
            .media-left
              img(src='/images/products/food-beverages/rfid-icon.png')
            .media-body
              :markdown
                Save the hassle of logging in with your staff password. 
                With our POS system and integrated RFID, simply tap your RFID card to login.

      .row
        .col-md-6.col-md-offset-6
          h2 eMENU ORDERING
          small Improve cooperation between teams.
          .media
            .media-left
              img(src='/images/products/food-beverages/menu-icon.png')
            .media-body
              :markdown
                Enable your customers to place their own orders with our interactive eMenu.

      .row
        .col-md-8
          h2 MEMBERSHIP MANAGEMENT
          small Improve cooperation between teams.
          .media
            .media-left
              img(src='/images/products/food-beverages/member-icon.png')
            .media-body
              :markdown
                Track your customer information including purchases and credit levels. 
                Know the behaviours and spending.

      .row
        .col-md-7.col-md-offset-5
          h2 INVENTORY & PURCHASING
          small Improve cooperation between teams.
          .media
            .media-left
              img(src='/images/products/food-beverages/inventory-icon.png')
            .media-body
              :markdown
                Keep track of your inventory level and strategise your purchasing to make sure you don’t run out of supplies.

      hr
      p
        +interested-btn(product)