include ../../mixins/products

.container
  .row
    h2= product.name
    :markdown
      You run a goods trading business that depends on your supply chain domain knowledge. You need to be able to source these goods before your competitors.
      You need to scale your business without losing your competitive advantage as well as manage your operations more efficiently and with less effort.

    p
      +interested-btn(product)
    hr
    h3 Demo
      small
        :markdown
          Press the **TAKE A TOUR** button

    .embed-axshare
      iframe(src='http://qfomb0.axshare.com/kanban_board.html')
    hr
    p
      +interested-btn(product)