include ../../mixins/products

img(src='/images/products/professional-services/bg.png', style='width: 100%')
.container(style='margin-top: -50px')
  .row
    .col-sm-10.col-sm-offset-1
      h2= product.name
      .row
        .col-sm-6
          img(src='/images/products/professional-services/system.png', style='width: 100%')
        .col-sm-6
          :markdown
            Be it running a professional services business such as construction, interior design, 
            engineering services or human resource services, you will need to manage your operations, 
            have more visibility throughout your organization and handle accrual accounting for projects seamlessly.

          p
            +interested-btn(product)
      hr
      .row
        .col-sm-6
          :markdown
            Maintain a tight control over the strategic direction of your project while tracking the financial progress 
            of projects with **Contract-to-Cash** solution. Plan your resources effectively and ensure all projects are 
            completed on time, while maximizing service delivery performance and profitability. 
            Integrate your project activities with company financials to ensure an accurate project lifecycle.

          h4.text-right Pricing - $35,000*
          p.text-right
            small *Recommended price
        .col-sm-6
          img(src='/images/products/professional-services/phone.png')
      hr
      p.media
        .media-left(style='padding-right: 30px')
          img(src='/images/products/professional-services/strategy.png', style='width: 70px')
        .media-body
          h4.media-heading STRATEGISE YOUR PLANNING
          :markdown
            Manage your resources well

            - Receive real-time information about your resources and plan ahead.

      p.media
        .media-left(style='padding-right: 30px')
          img(src='/images/products/professional-services/plan.png', style='width: 70px')
        .media-body
          h4.media-heading NEVER MISS A DATELINE
          :markdown
            Plan your time well

            - Monitor and track your project progress in order to meet datelines.

      p.media
        .media-left(style='padding-right: 30px')
          img(src='/images/products/professional-services/efficient.png', style='width: 70px')
        .media-body
          h4.media-heading INCREASE EFFICIENCY
          :markdown
            Identify and fix bottlenecks

            - Locate your project’s bottleneck and find a remedy in order to progress.

      p.media
        .media-left(style='padding-right: 30px')
          img(src='/images/products/professional-services/next.png', style='width: 70px')
        .media-body
          h4.media-heading KNOW YOUR NEXT ACTION
          :markdown
            Always be aware of what comes next

            - With our Next Action Button, you will always be aware of what step to take next.

      hr
      p
        +interested-btn(product)