body {
  /* content to appear below the navbar */
  padding-top: 80px;
}

#header {
	
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.embed-axshare {
  width: 100%;
  height: 1100px;
  padding: 0;

  iframe {
    /* not the best, but works for now: http://stackoverflow.com/a/3131624/940030 */
    width: 170%;
    height: 360%;
    border: 0 none;
    -ms-zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.6);
    -webkit-transform-origin: 0 0;
  }
}

.product-list {
  .caption {
    min-height: 220px;

    h4 {
      height: 40px;
    }

    .content {
      text-align: justify;
      min-height: 150px;
    }
  }
}