include ../mixins/enquiries

h4 A prospect is interested in the product #{product.name}

+default-email

b Name of Company: 
span= enquiry.company
br
b Nature of Business: 
span= enquiry.businessNature
br
b Number of Staff: 
span= enquiry.staffCount
br
b Any current ERP systems (if any): 
span= enquiry.currentSystem
br
b Challenges of current IT system (if any): 
span= enquiry.currentSystemChallanges
br
b Preferred contact method: 
span= enquiry.contactMethod