extends ../../layouts/default

include ../../mixins/enquiries

block content
  .container
    .row
      .col-md-6
        form(method='post')
          input(type='hidden', name='action', value='contact')
          .form-group(class=validationErrors.name ? 'has-error' : null)
            label Name
            input(type='text', name='name', value=formData['name']).form-control
          .form-group(class=validationErrors.email ? 'has-error' : null)
            label Email
            input(type='email', name='email', value=formData.email).form-control
          .form-group
            label Phone
            input(type='text', name='phone', value=formData.phone, placeholder='(Optional)').form-control
          .form-group
            label Website
            input(type='text', name='website', value=formData.website, placeholder='(Optional)').form-control
          .form-group(class=validationErrors.message ? 'has-error' : null)
            label Message
            textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
          .form-actions
            button(type='submit').btn.btn-info Send
      .col-md-5.col-md-offset-1
        +find-us