extends ../../layouts/default

include ../../mixins/enquiries

block content
  .container
    h4 Interested in #{product.name}?
    .row
      .col-md-6
        form(method='post')
          input(type='hidden', name='action', value='contact')

          input(type='hidden', name='product', value=product._id)

          .form-group(class=validationErrors.name ? 'has-error' : null)
            label Name
            input(type='text', name='name').form-control
          .form-group(class=validationErrors.email ? 'has-error' : null)
            label Email
            input(type='email', name='email').form-control
          .form-group
            label Phone
            input(type='text', name='phone', placeholder='(Optional)').form-control
          .form-group
            label Name of Company
            input(type='text', name='company').form-control
          .form-group
            label Nature of Business
            input(type='text', name='businessNature').form-control
          .form-group
            label Number of Staff
            input(type='text', name='staffCount').form-control
          .form-group
            label Any current ERP systems (if any)
            input(type='text', name='currentSystem').form-control
          .form-group
            label Challenges of my current IT system (if any)
            input(type='text', name='currentSystemChallanges').form-control
          .form-group(class=validationErrors.message ? 'has-error' : null)
            label Message
            textarea(name='message', placeholder='Leave us a message...' rows=4).form-control
          .form-group
            label How would you like us to get in touch with you?
            select(name='contactMethod').form-control
              option(value='') (select one)
              each method in contactMethods
                option(value=method.value)= method.label

          .form-actions
            button(type='submit').btn.btn-info Send
      .col-md-5.col-md-offset-1
        +find-us